:root {
    --background-passed: #dff2bf;
    --background-summary: #f4f4f4;
    --border-default: #333333;
    --text-default: #333333;
    --text-passed: #44760f;
}

html {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-default);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    padding: 1rem;
    max-inline-size: 1000pt;
}

ul {
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding: 0;
    padding-inline: 0;
}

li {
    list-style: none;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px dotted;
    border-inline-end: 4px solid;
    padding: calc(0.25rem - 1px);
}

h1 {
    margin-block: 1rem 0.5rem;
    margin-inline: 0;
}

h1:hover {
    background-color: rgba(255 255 255 / 10%);
}

h2 {
    font-size: 1rem;
}

.test-summary {
    display: flex;
    flex-direction: row;
    margin-block-end: 2rem;
    max-width: 50%;
}

.summary {
    background-color: var(--background-summary);
    border: 1px solid #333;
    display: inline-block;
    flex: 1 1 10%;
    margin-block: 0;
    margin-inline: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.summary:first-of-type {
    margin-inline-start: 0;
}

.summary:last-of-type {
    margin-inline-end: 0;
}

.passed {
    background-color: var(--background-passed);
    border: 1px solid var(--text-passed);
    color: #44760f;
}
